/*----------------- INITIAL SETUP -----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Helvetica, sans-serif, sans-serif;
}

body {
  background-color: #222;
}

/*----------------- BANNER -----------------*/
#banner {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  margin: 0 auto;
}

#btnReset {
  border: none;
  height: 65%;
  width: 140px;
  border-radius: 5px;
  background-color: orange;
  font-size: 1.5rem;
  font-weight: bold;
}

#btnReset:focus {outline:0;}

#congrats {
  display: none;
  color: white;
}

#techName {
  color: white;
  font-size: 1.8rem;
}

/*----------------- CONTAINER -----------------*/
#container {
  width: 90%;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 30px;
  margin: 0 auto;
}

/*----------------- CARDS -----------------*/

.coverImage {
  width: 100%;
  height: 100%;
}

.coverImage:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.cardsImage {
  height: 200px;
  width: 200px;
}
